<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--//${ew.customSqlSegment}-->
<mapper namespace="com.hanyouli.dao.GoodsDao">

    <select id="selectGoodsList" resultType="com.hanyouli.entity.Goods" parameterType="map">
        SELECT g.*,t.name tname FROM goods g LEFT JOIN TYPE t ON g.`type` = t.id

        ${ew.customSqlSegment}
    </select>
</mapper>
